<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Form submitted
          </h1>
          <div class="govuk-panel__body">
          </div>
        </div>

        <p class="govuk-body">
          You have successfully submitted the school verification form
        </p>

        <p class="govuk-body">
          For help, you can contact us on
          <%= govuk_link_to("IRP.Mailbox@education.gov.uk", "mailto:IRP.Mailbox@education.gov.uk") %>.
        </p>
      </div>
    </div>
  </main>
</div>
