<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      Invalid page
    </h1>

   <p class="govuk-body">
     The provided link is invalid or expired
  </p>

  </div>
</div>
